
BusinessRuleEngine/.vs/BusinessRuleEngine/v15/Server/sqlite3/db.lock
BusinessRuleEngine/.vs/BusinessRuleEngine/v15/Server/sqlite3/storage.ide
BusinessRuleEngine/.vs/BusinessRuleEngine/v15/Server/sqlite3/storage.ide-shm
BusinessRuleEngine/.vs/BusinessRuleEngine/v15/Server/sqlite3/storage.ide-wal
BusinessRuleEngine/EventProcessor.Contract/obj/Debug/netstandard2.0/EventProcessor.Contract.AssemblyInfo.cs
BusinessRuleEngine/EventProcessor.Contract/obj/Debug/netstandard2.0/EventProcessor.Contract.AssemblyInfoInputs.cache
BusinessRuleEngine/EventProcessor.Contract/obj/Debug/netstandard2.0/EventProcessor.Contract.assets.cache
BusinessRuleEngine/EventProcessor.Contract/obj/Debug/netstandard2.0/EventProcessor.Contract.csproj.CoreCompileInputs.cache
BusinessRuleEngine/EventProcessor.Contract/obj/EventProcessor.Contract.csproj.nuget.cache
BusinessRuleEngine/EventProcessor.Contract/obj/EventProcessor.Contract.csproj.nuget.g.props
BusinessRuleEngine/EventProcessor.Contract/obj/EventProcessor.Contract.csproj.nuget.g.targets
BusinessRuleEngine/EventProcessor.Contract/obj/project.assets.json
BusinessRuleEngine/EventProcessor.Logic/obj/Debug/netstandard2.0/EventProcessor.Logic.AssemblyInfo.cs
BusinessRuleEngine/EventProcessor.Logic/obj/Debug/netstandard2.0/EventProcessor.Logic.AssemblyInfoInputs.cache
BusinessRuleEngine/EventProcessor.Logic/obj/Debug/netstandard2.0/EventProcessor.Logic.assets.cache
BusinessRuleEngine/EventProcessor.Logic/obj/Debug/netstandard2.0/EventProcessor.Logic.csproj.CoreCompileInputs.cache
BusinessRuleEngine/EventProcessor.Logic/obj/EventProcessor.Logic.csproj.nuget.cache
BusinessRuleEngine/EventProcessor.Logic/obj/EventProcessor.Logic.csproj.nuget.g.props
BusinessRuleEngine/EventProcessor.Logic/obj/EventProcessor.Logic.csproj.nuget.g.targets
BusinessRuleEngine/EventProcessor.Logic/obj/project.assets.json
BusinessRuleEngine/EventProcessor.Unit.Tests/obj/Debug/netcoreapp2.1/EventProcessor.Unit.Tests.AssemblyInfo.cs
BusinessRuleEngine/EventProcessor.Unit.Tests/obj/Debug/netcoreapp2.1/EventProcessor.Unit.Tests.AssemblyInfoInputs.cache
BusinessRuleEngine/EventProcessor.Unit.Tests/obj/Debug/netcoreapp2.1/EventProcessor.Unit.Tests.assets.cache
BusinessRuleEngine/EventProcessor.Unit.Tests/obj/Debug/netcoreapp2.1/EventProcessor.Unit.Tests.csproj.CoreCompileInputs.cache
BusinessRuleEngine/EventProcessor.Unit.Tests/obj/Debug/netcoreapp2.1/EventProcessor.Unit.Tests.Program.cs
BusinessRuleEngine/EventProcessor.Unit.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BusinessRuleEngine/EventProcessor.Unit.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BusinessRuleEngine/EventProcessor.Unit.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BusinessRuleEngine/EventProcessor.Unit.Tests/obj/EventProcessor.Unit.Tests.csproj.nuget.cache
BusinessRuleEngine/EventProcessor.Unit.Tests/obj/EventProcessor.Unit.Tests.csproj.nuget.g.props
BusinessRuleEngine/EventProcessor.Unit.Tests/obj/EventProcessor.Unit.Tests.csproj.nuget.g.targets
BusinessRuleEngine/EventProcessor.Unit.Tests/obj/project.assets.json
BusinessRuleEngine/EventReceiver/obj/Debug/netcoreapp2.1/EventReceiver.AssemblyInfo.cs
BusinessRuleEngine/EventReceiver/obj/Debug/netcoreapp2.1/EventReceiver.AssemblyInfoInputs.cache
BusinessRuleEngine/EventReceiver/obj/Debug/netcoreapp2.1/EventReceiver.assets.cache
BusinessRuleEngine/EventReceiver/obj/Debug/netcoreapp2.1/EventReceiver.csproj.CoreCompileInputs.cache
BusinessRuleEngine/EventReceiver/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BusinessRuleEngine/EventReceiver/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BusinessRuleEngine/EventReceiver/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BusinessRuleEngine/EventReceiver/obj/EventReceiver.csproj.nuget.cache
BusinessRuleEngine/EventReceiver/obj/EventReceiver.csproj.nuget.g.props
BusinessRuleEngine/EventReceiver/obj/EventReceiver.csproj.nuget.g.targets
BusinessRuleEngine/EventReceiver/obj/project.assets.json
